.gray {
    background-color: gray;
}

.green {
    background-color: green;
}

.light-green {
    background-color: lightgreen;
}

.black {
    background-color: black;
    color: white
}

.light-gray {
    background-color: lightgray;
    color: white
}



.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}